@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "./src/css/footer.css";
@import "./src/css/banner.css";
@import "./src/css/header.css";
@import "./src/css/category.css";
@import "./src/css/detailPro.css"; */
.error {
    color: red;
 }