.signin-footer {
    background: #ffffff !important;
    margin-top: 2%;
    padding: 30px 0;
}
.btn-signin-bottom {
    width: 230px;
    height: 28px;
    margin: 10px;
    font-weight: bold;
    background: #ffc530;
    border-radius: 5px;
    border: 1px solid orange;
}
.signin-content {
    border: 1px solid #acacac;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;

}
.signin-text1 {
    font-size: 14px;
}
.signin-start-text{
    font-size: 12px;
}
.back-top {
    background-color: #37465a;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    font-size: 13px;
}
.detail-footer {
    background-color: #232F3E;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10%;
}
.box-footer {
    width: 25%;
    text-align: start;

}
.box-footer ul li{
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    color: #dddd;
    padding: 8px 0;
}
.box-footer-top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 3% 20%;
}
.box-footer-bottom {
    display: flex;
    justify-content: center;
    gap: 1%;
    padding: 2%;
    border-top: .1px solid #ddd;
}
.box-footer-bottom .logo-footer{
    overflow: hidden;
    height: 30px;
    border: none;

}
.box-footer-bottom .logo-footer img{
    width: 100px;
    transform: scale(1.8);
}
.box-footer-bottom div {
    border: 1px solid #dddd;
    padding: 5px 15px;
    border-radius: 5px;
    color: #dddd;
    display: flex;
    align-items: center;
}
.box-footer-bottom div span{
    padding-right: 10px;
    font-weight: normal;
    font-size: 13px;
}
.flag-bottom {
    width: auto;
}
.flag-bottom img{
   width: 24px;
}
.footer-end {
    background-color: #131a22;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #fff;
    gap: 1%;
}
.footer-end ul {
    display: flex;
    gap: 20px;
}
.footer-end ul li {
    list-style: none;
    width: auto;
    font-size: 13px;
}
.footer-end ul li:hover {
    text-decoration: underline;
}
.signin-content {
    padding: 50px;
}