* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body {
    background-color: #eaeded;
}
.container-main {
    padding: 0 1%;
    font-size: 140%;
}
.category{
    display: flex;
    flex-wrap: wrap;
    width: calc( 100%);
    gap: 1%;
    margin-top: -160px;
}
.active{
    display: flex;
    flex-wrap: wrap;
    width: calc( 100%);
    gap: 1%;
    margin-top: 1%;
}
.active-box2 {
    gap: 2%;
}
.active-box2 .category-img {
    width: 49%;
}
.category-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    width: calc(25% - .75%);
    height: 420px;
    padding: 20px;
    background: #ffff;
    z-index: 100;
    margin-bottom: 20px;
}
.category-items .details {
    font-size: 13px;
    color: #007185;
    margin-top: auto;
}
.category-img{
    width: 50%;
    padding-bottom: 30px;
    margin: auto;
}
.category-img div:nth-child(2){
    font-size: 12px;
    text-align: start;
}
.category-img img{
    width: 100%;
    /* object-fit: cover; */
}
.category-title {
    width: 100%;
    text-align: start;
    font-weight: bold;
    padding-bottom: 10px;
    overflow: hidden;
}
.category-img2 {
    background: #F2FAFB;
    border: 1px solid #fff;
    width: 50%;
    display: flex;
    justify-content: center;
    justify-items: stretch;
    flex-wrap: wrap;
}
.category-img2 div:nth-child(1) {
    width: 100%;
}
.category-img2 div:nth-child(2) {
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}
.category-img2 div:nth-child(1) {
    height: 100px;
    width: 130px;
    padding: 10px;
    overflow: hidden;

}
.category-img2 img {
    width: 100%;
    flex-shrink: 0;
    transform:scale(0.8);
}
.category-img3 img {
    width: 100%;
    height: 275px;
    object-fit: cover;
}

.title-box4 {
    width: 100%;
    padding: 20px;
    background: #ffff;
    text-align: start;
}
.btn-signin {
    background: #ffd814;
    border: none;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    margin-top: 20px;
}
.category-items4 {
    display: flex;
    flex-wrap: wrap;
    background: transparent;
    padding: 0; 
    overflow: hidden;
}
.category-img4 {
    width: 100%;
}
.category-items4 img {
    width: 100%;
    padding: 20px;
    padding-bottom: 0;
}