.sidebar-wrapper {
    height: auto;
    position: sticky;
    top: 0;
}
.sidebar-title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid #dddd;
    margin-bottom: 10px;
}
.siderbar-content {
    font-size: 17px;
    display: flex;
    justify-content: center;
}

.siderbar-content ul li{
    padding: 6px 10px;
    width: 100%;
}
.siderbar-content ul li:hover {
    background-color: #232f3e;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.search-sidebar {
    box-shadow: 1px 1px 3px 3px #acacac;
    border: 1px solid #dddd;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    width: 90%;
}
.search-sidebar .search {
    border: 1px solid #000;
    width: calc(100% - 40px);
    border-radius: 5px;
    overflow: hidden;

}
.search-sidebar button {
    width: 40px;
    border-radius: 0 5px 5px 0;
    background: orange;
    padding: 3px;

}
.search-sidebar input {
    padding: 3px;

    border-radius: 5px 0 0 5px;

    width: 90%;
}
#sortPrice,
.status{
    width: 100%;
    padding: 3px;
}
